/* import google fonts */

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

/* General styling */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #0d0d0d;
}

h1,
h2,
h3 {
    font-family: Oswald, sans-serif;
    font-weight: 500;
    color: #0d0d0d;
}

p {
    font-size: 110%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Style navigation */

nav {
    background-color:#6db784;
}

#logo {
    font-size: 280%;
    text-align: center;
}

#menu {
    font-size: 120%;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    
}

#menu, #logo {
    line-height: 1.8em;
}

.nav-item {
    padding: 10px;
}

#menu a:hover {
    color:#fef9f8;
    border-bottom: 2px solid #0d0d0d;
}

/* Add the hero image */

.container {
    height: 600px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.hero-image {
    height: 600px;
    width: 100%;
    object-fit: cover;
}

#hero-text {
    background-color: #6db784;
}

.hero-text {
    font-size: 280%;
    text-align: center;
    padding: 20px 0 20px 0;
}

/* About Us section */

 #about-us h2,
 h3,
 p,
 ul {
     margin-left: 2%;
     margin-right: 2%;
 }

li {
    list-style-type: disc;
    list-style-position: inside;
}

#about-us h2 {
    font-size: 180%;
    text-align: center;
    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 10px;
}

#about-us h3 {
    font-size: 140%;
}

#about-us h3,
p {
    padding-bottom: 10px;
}

/* Learn section */

#learn {
    background-color: #6db784;
}

#learn h2 {
    font-size: 180%;
    text-align: center;
    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 10px;
}

#learn p {
    font-weight: 500;
}

.flex-container {
    display: flex;
    flex-direction: row;
    margin: 1.5%;
    /* margin-right: 2%;
    margin-bottom: 2%; */
    background-color: antiquewhite;
    border: 1px solid #0d0d0d;
}

.flex-container h3 {
    padding-bottom: 2px;
}

.days {
    border-right: 1px solid #0d0d0d;
}

/* styling the contact form */

#signup h2 {
    font-size: 180%;
    text-align: center;
    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 15px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    padding: 20px;
    background-color: rgb(59, 58, 58);
    margin: 20px auto;
    color: white;
}

.text-input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px, solid, #0d0d0d;
    font-family: Roboto, sans-serif;
}

textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #0d0d0d;
    resize: none;
    font-family: Roboto, sans-serif;
}

.submit-button {
    background-color: #6db784;
    color: #0d0d0d;
    border: 1px, solid, #0d0d0d;
    border-radius: 5px;
    padding: 5px;
    width: 33%;
    align-self: center;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 140%;
    text-transform: uppercase;
    text-align: center;
}

.submit-button:hover {
    background-color: #fff;
    color: #0d0d0d;
}

/* Contact Us section */

#contact {
    background-color: #6db784;
}

#contact h2 {
    font-size: 180%;
    text-align: center;
    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 10px;
}

#contact p {
    text-align: center;
}

/* Footer */

footer {
    background-color: #6db784;
    text-align: center;
    font-size: 150%;
}
