/* Import Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

/* General styling */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #0d0d0d;
}

h1,
h2,
h3 {
    font-family: Oswald, sans-serif;
    font-weight: 500;
    color: #0d0d0d;
}

p,
li {
    font-size: 110%;
}

a {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-size: 280%;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
}

.nav-container {
    background-color: #6db784;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
}

.nav-container a {
    font-size: 150%;
}

.nav-container a:hover {
    color:#fef9f8;
    border-bottom: 2px solid #0d0d0d;
}

/* Hero image and text below */

.hero-container {
    height: 600px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.hero-image {
    height: 600px;
    width: 100%;
    object-fit: cover;
}

#hero-text {
    background-color: #6db784;
}

.hero-text {
    font-size: 280%;
    text-align: center;
    padding: 20px 0;
}

/* About Us section */

 #about-us h2,
 h3,
 p,
 ul {
     margin: 0 2%;
 }

li {
    list-style-type: disc;
    list-style-position: inside;
}

#about-us h2 {
    font-size: 180%;
    text-align: center;
    text-decoration: underline;
    padding: 10px 0;
}

#about-us h3 {
    font-size: 140%;
}

#about-us h3,
p {
    padding-bottom: 10px;
}

/* Learn section */

#learn {
    background-color: #6db784;
}

#learn h2 {
    font-size: 180%;
    text-align: center;
    text-decoration: underline;
    padding: 10px 0;
}

#learn p {
    font-weight: 500;
}

/* Flexbox for course days information */ 

.learn-container {
    display: flex;
    flex-direction: row;
    margin: 1.5%;
    background-color: antiquewhite;
    border: 1px solid #0d0d0d;
}

.learn-container h3 {
    padding-bottom: 2px;
}

.days {
    border-right: 1px solid #0d0d0d;
}

/* Styling the contact form */

#signup h2 {
    font-size: 180%;
    text-align: center;
    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 15px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    padding: 20px;
    background-color: rgb(59, 58, 58);
    margin: 20px auto;
    color: white;
}

.text-input {
    margin: 10px 0;
    padding: 10px;
    border: 1px, solid, #0d0d0d;
    font-family: Roboto, sans-serif;
}

textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #0d0d0d;
    resize: none;
    font-family: Roboto, sans-serif;
}

.submit-button {
    background-color: #6db784;
    color: #0d0d0d;
    border: 1px, solid, #0d0d0d;
    border-radius: 5px;
    padding: 5px;
    width: 40%;
    align-self: center;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 140%;
    text-transform: uppercase;
    text-align: center;
}

.submit-button:hover {
    background-color: #fff;
    color: #0d0d0d;
}

/* Contact Us section */

#contact {
    background-color: #6db784;
}

#contact h2 {
    font-size: 180%;
    text-align: center;
    text-decoration: underline;
    padding: 10px 0;
}

#contact p {
    text-align: center;
}

/* Footer - social media icons */

footer {
    background-color: #6db784;
    text-align: center;
    font-size: 150%;
}

.fab {
    padding: 10px;
    margin-right: 15px;
}

/* Media queries */

/* For screen sizes 600px and down */

@media screen and (max-width: 600px) {
    .nav-container {
        flex-direction: column;
    }
    .learn-container {
        flex-direction: column;
    }
    .days {
        border-right: none;
    }
    .hero-text {
        padding: 10px 0;
    }
}